<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>UspSite</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div ng-controller="HeaderCtrl">
        {{ title }}
      </div>
      <%= yield %>
    </div>
  </body>
</html>
